*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
  background-image: url('./images/bg-hero-desktop.svg');
  background-color: hsl(193, 100%, 96%);
}
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo button{
  background-color: white;
  border: 0;
  padding: 10px;
  color: hsl(192, 100%, 9%);
  font-weight: bold;
  width: 150px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px hsl(208, 11%, 55%);
}
header .container{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
header .container img{
  max-width: 100%;
}
header .content{
  padding-top: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
h1{
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
}
p{
  color: hsl(208, 11%, 55%);
  font-size: 18px;
}
.pink{
  padding: 15px 40px;
  border: 0;
  border-radius: 30px;
  color: hsl(193, 100%, 96%);
  background-color: hsl(322, 100%, 66%);
  font-weight: bold;
  box-shadow: 5px 5px 5px hsl(193, 100%, 96%);
}
button:hover{
  cursor: pointer;
}
.pink:hover{
  background-color: hsla(322, 100%, 66%, 0.8);
}
main{
  margin-top: 50px;
  margin-bottom: 0;
  padding: 50px 100px 200px ;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
h2{
  color: hsl(192, 100%, 9%);
}
main .container{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  border: 1px solid hsl(208, 11%, 55%);
  box-shadow: 3px 3px 3px hsl(193, 100%, 96%);
  border-radius: 10px;
  padding: 25px;  
}
main .container .content{
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .container img{
  max-width: 100%;
}
.float{
  border: 1px solid hsl(208, 11%, 55%);
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 10px auto;
  position: absolute;
  bottom: -80px;
  left: 25%;
  right: 25%;
  z-index: 10;
  background-color: white;
}
footer{
  background-color: hsl(192, 100%, 9%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 100px 50px 50px 100px;
  position: relative;
}
footer *{
  color: white;
}
footer .details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.details div{
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
footer .logo-img{
  color: white;
}
footer p{
  font-size: 16px;
}
footer .links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  padding: 60px;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.social{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
.social img:hover{
  color: #ff52bf;
  cursor: pointer;
}
small{
  position: absolute;
  bottom: 30px;
  right: 20px;
}


@media screen and (max-width:768px) {
  header{
    padding: 50px;
    background-image: url('./images/bg-hero-mobile.svg');
  }
  header .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  header .container .content{
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  .float{
    bottom: -50px;
  }
}

@media screen and (max-width:500px) {
  main{
    padding: 10px;
  }
  main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  main .content {
    padding: 10px;
    background-color: blue;
  }
  .float{
    padding: 5px;
    gap:10px;
    bottom: -50px;
    left: 10%;
    right: 10%;
  }
}

